<header class="container mx-auto flex items-center justify-between max-sm:justify-center px-4 py-8">
  <h1 class="cursor-pointer text-4xl font-semibold max-lg:text-3xl max-md:text-2xl">
    <span class="text-emerald-400">Django</span>
    <span>&</span>
    <span class="text-sky-400">Tailwind CSS</span>
  </h1>

  <ul class="flex items-center gap-4 text-xl max-lg:text-sm max-sm:hidden">
      <li class="px-4 py-2 rounded-xl hover:bg-zinc-700 active:bg-zinc-600 cursor-pointer transition-colors duration-300">Home</li>
      <li class="px-4 py-2 rounded-xl hover:bg-zinc-700 active:bg-zinc-600 cursor-pointer transition-colors duration-300">About</li>
      <li class="px-4 py-2 rounded-xl hover:bg-zinc-700 active:bg-zinc-600 cursor-pointer transition-colors duration-300">Contact</li>
  </ul>
</header>